
html, body{
    height: 100%;
    width:100%;
    margin: 0%;    
    /* filter:grayscale(40%); */
}
header{
    height:80px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


main{
    display: flex;
    height: 89%;
    width:99.8%;
    border: 1px solid black;
    background-color: yellow;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
nav{
    height: 5%;
    width: 80%;
    background: blue;
}
section{
    height: 95%;
    width: 80%;
    border:1px solid black;
    background-color: deeppink;
    display: flex;
    overflow: hidden;
    overflow-x: hidden;
    flex-wrap: wrap;
}
#synopsis{
    height: 250px;
    width: 60%;
    border: 1px solid black;
    margin: 10px;
    margin-top: 10px;
}

h4{
    text-align: center;
}

article{
    height: 250px;
    width: 180px;
    border: 1px solid black;
    margin: 10px;
    margin-top: 10px;
    
}

img{
    height: 100%;
    width:100%;
}

main h3{
    margin:0;
}